@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-container{
    height: 100vh;
    }
    
    #navbar1{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 10px;
    box-shadow: 5px 5px 20px black;
    background: orange;
    height: 10%;
    width: 100vw;
    }
    .navbar .navbar-brand{
    font-size: 20px;
    font-weight: 800;
    color: green;
    
    }
    #navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
    }
    #navbarSupportedContent a:hover{
    border-bottom: 2px solid;
    }
    #navbarSupportedContent button{
    background: white;
    width: 100px;
    border-radius: 15px;
    }


.container {
    padding: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;

    background-position: center;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 1000;
}

input[type="text"], input[type="password"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
    margin-bottom: 20px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 400px;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s;
}

.links a:hover {
    color: #0056b3;
}